<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Background</h2>
                <hr class="light">
                <p class="text-faded">
Ever since I was young, I was always curious of how things work, what is powering them, why do certain actions happen and was almost never satisfied with just asking the adults. To satisfy my thirst for knowledge, I had started reading at a very young age. Books had answers adults did not have. My curiosity did not stop there. As I grew up, my favorite topis were programming, Physics and Biology. My passion for programming started when I was 10 years old. It started with Pascal, with whom I got to learn the basic algorithms of programming.I participated in various programming and Physics competitions. In highschool I was more science and math oriented with little programming. To make up for it, I had gotten a new laptop with Ubuntu on it. I had learnt C++ on my own and created a few projects to deepen my understanding.
                    
For my undergraduate degree, I completed a Bachelor of Science in Physics, with a focus on Nuclear Physics (think MRI, X-rays). In the meantime, I was attending a second university full-time in Information Technology Computer Science. I had successfully completed an undergrad in Physics with 3-year classes in IT. After my undergraduate, I had come to University of Waterloo in the Applied Mathematics department for a year in an exchange program. While I loved math, I had realized my passion is with programming and biological sciences. From there, I decided to pursue a Masters of Science in Nanobiophysics at Technical University of Dresden, Germany. I had taken numerous Biology, Biochemistry, molecular modelling and other science classes. Everything was wrapped up nicely with a research thesis in Bioinformatics, under the supervision of Prof. Michael Schroeder.

I am currently living in Markham with my wonderful husband who is completing a PhD in the Applied Mathematics department from University of Waterloo.                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
