<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            
            <div class="col-lg-6 col-sm-2">
                <a href="https://github.com/rominacarabathampi/PythonProjects/blob/master/toronto_crime_rate.ipynb" class="portfolio-box">
                    <img src="img/portfolio/toronto.jpg" class="img-responsive" alt="" width="500" height="600">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Demographics
                            </div>
                            <div class="project-name">
                                Toronto Crime Data Analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
          
            
            <div class="col-lg-6 col-sm-2">
                <a href="https://github.com/rominacarabathampi/Cancer-detection-capstone" class="portfolio-box">
                    <img src="img/portfolio/science.jpg" class="img-responsive" alt="" width="500" height="600">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Image Classification
                            </div>
                            <div class="project-name">
                                Automating Detection of Cancer Tissue 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
