<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                
                <div class="service-box">
                <h3>Programming languages</h3>
                    <p class="text-muted"> Python, R, Octave, git, bash</p>
                </div>
             </div>
          
             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Databases</h3>
                        <p class="text-muted">SQL, mySQL, Excel</p>
                </div>
            </div>

             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Programming Concepts </h3>
                    <p class="text-muted">Supervised Learning, Unsupervised Learning, Regression Analysis</p>
                </div>
             </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <h3>Visualization Tools</h3>
                    <p class="text-muted">Tableau, Pyplot, ggplot</p>
                </div>
             </div>
  
        </div>
    </div>
</section>
